#title{
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-style: oblique;
}

/*Styles for Forms*/
form {
    background-image: url(../Images/FormsBG.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 12px solid black;
    padding-bottom: 275px;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 0;
    font-size: 25px;
    font-weight: bolder;

}

legend {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #000000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: calc(25%);
    padding: 5px;
    border: 5px solid black;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

/*Styles for Dropdown Menu*/
#drop01{
    font-size: 22px;
    padding: 10px;
    border: 5px solid black;
}

input[type="radio"] {
    width: calc(3%);
}


/*Styles for Submit and Reset Buttons*/
button[type="submit"], button[type="reset"] {
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]{
    background-color: #145C18;
}

button[type="reset"] {
    background-color: #A51309;
}

/*Hover Effects for Submit and Reset Buttons*/
button[type="submit"]:hover {
    background-color: #0B370E;
}

button[type="reset"]:hover {
    background-color: #5D0B04;
}


/*Media Query for Mobile View*/
@media screen and (max-width:768px) {

    #title{
        text-align: center;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        font-style: oblique;
    }
    
    form {
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 10px solid black;
    }
    
    fieldset {
        border: none;
        margin-bottom: 15px;
        padding: 0;
        font-size: 18px;
        font-weight: bolder;
    
    }
    
    legend {
        font-size: 21px;
        margin-bottom: 10px;
        font-weight: bolder;
        color: #000000;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    
    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input{
        width: calc(40%);
        padding: 1px;
        border: 3px solid black;
    }

    .form-group {
        display: block;
    }

    #drop01{
        font-size: 18px;
        padding: 4px;
        border: 3px solid black;
    }
    
    
    input[type="radio"], input[type="checkbox"] {
        width: calc(3%);

    }
    
    button[type="submit"], button[type="reset"] {
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }

    button[type="submit"]{
        background-color: #145C18;
    }
    
    button[type="reset"] {
        background-color: #A51309;
    }
    
    /*Hover Effects for Submit and Reset Buttons*/
    button[type="submit"]:hover {
        background-color: #0B370E;
    }
    
    button[type="reset"]:hover {
        background-color: #5D0B04;
    }
    
}